### 1. Import Important Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

ModuleNotFoundError: No module named 'sklearn'

### 2. Load the Training Dataset

In [3]:
train_data = pd.read_csv("Google_Stock_Price_Train.csv")
train_data.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

### 3. Use the 'Open' Column to Train Your Model.

In [4]:
training_set = train_data.iloc[:,1:2].values

In [6]:
print(training_set)
print(training_set.shape)

[[325.25]
 [331.27]
 [329.83]
 ...
 [793.7 ]
 [783.33]
 [782.75]]
(1258, 1)

### 4. Normalizing the Dataset

In [4]:
from sklearn.preprocessing import MinMaxScaler

ModuleNotFoundError: No module named 'sklearn'